.logo{
    height: 24px;
}

input:focus-visible{
  outline: none;
}
header{
  position: relative;  
  &::after{
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg ,#62db54 50%, #09acf5 50%);
  }
}

.menu-mobile{
  position: absolute;
  top: calc(100% + 2px);
}
@include media-breakpoint-up(sm){
  .logo{
    height: 42px;
  }
}
  .modal{
    label{
      margin-bottom: 6px;
    }
  }

.login-option{
  display: flex;
  align-items: center;
  &::after,&::before{
      content: "";
      background:#fff;
      display: block;
      height: 1px;
      flex-grow: 1;
  }
  &::after{
    margin-left: 1rem;
  }
  &::before{
    margin-right: 1rem;
  }
  }
  .login-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    left: 2rem;
  }
.bg-footer{
  background: #1A1A1A;
}