.z-index{
    z-index: 100;
}
.lh-0{
    line-height: 0;
}
.text-hover>*:hover{
    color: $primary;
}
.fs-base{
    font-size: 1.125rem;
}
.overflow-x-scroll{
    overflow-x: scroll;
    // Hide scrollbar
    -ms-overflow-style: none;   /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
    &::-webkit-scrollbar {      /* Chrome, Safari and Opera */
        display: none;
}
}
@include media-breakpoint-up(lg){
    .fs-xl-title{
        font-size: 3rem !important ;
    }
    .fs-xl-base{
        font-size: 1.125rem !important;
    }
}
@include media-breakpoint-up(md){
    .text-md-left{
        text-align: left !important;
    }
}